@use '@/app/styles/ScssVars' as *;

.AccentsWords {
  margin: 15px 0;

  &__word {
    border: 3px solid var(--color-black);
    padding: 20px;
    cursor: pointer;
    user-select: none;
    height: 70px;
    font-weight: 500;
    line-height: 100%;
    color: var(--color-black);
    background-color: var(--color-white);
    transition: var(--transition-duration-default) linear;
    transition-property: background-color, color;
    max-width: 20%;

    @media (max-width: $laptop-mediaquery-width) {
      max-width: 30%;
    }

    @media (max-width: $tablet-mediaquery-width) {
      max-width: 100%;
    }

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 30px;
    }

    &:hover {
      color: var(--color-white);
      background-color: var(--color-black);
    }
  }

  &__hint {
    border-radius: 100%;
    background-color: var(--color-black);
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: var(--color-white);
    min-width: 45px;
    min-height: 45px;
    cursor: pointer;

    &__text {
      font-weight: 500;
      font-size: 18px;
      line-height: 120%;
      color: rgba(0 0 0 / 40%);
      opacity: 0;
      transition: var(--transition-duration-default) linear opacity;
      width: 60%;

      @media (max-width: $mobile-mediaquery-width) {
        width: 100%;
      }

      &__active {
        opacity: 1;
      }
    }
  }

  &__uncorrect {
    height: 60px;
    background: var(--color-black);
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    color: var(--color-white);
    text-align: center;
    margin-bottom: 30px;
    padding: 10px 28px;
    position: absolute;
    top: 50px;
  }

  &__totalTime {
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    color: var(--color-black);
  }

  &__wordWithError {
    font-weight: 500;
    line-height: 150%;
    text-align: center;
    color: var(--color-black);
  }

  &__errorWork {
    height: 97px;
    border-radius: 25px;
    background-color: var(--color-black);
    padding: 31px 42px;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: var(--color-white);
    cursor: pointer;
    transition: var(--transition-duration-default) linear;
    transition-property: background-color, color;

    &:hover {
      color: var(--color-black);
      background-color: var(--color-white);
    }
  }
}
