@use '@/app/styles/ScssVars' as *;

.Dictant {
  border: 1px solid var(--color-black);
  border-radius: 19px;
  padding: 10px 30px;
  margin-bottom: 50px;

  &__text {
    font-weight: 600;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.01em;
    color: var(--color-black);

    @media (max-width: $laptop-mediaquery-width) {
      font-size: 20px;
    }
  }

  &__input {
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: var(--color-black);
    color: var(--color-white);
    transition: background-color var(--transition-duration-default) linear;
    font-size: 30px;

    @media (max-width: $laptop-mediaquery-width) {
      font-size: 15px;
      width: 15px;
      height: 15px;
    }

    &:focus {
      background-color: var(--color-gray);
    }

    &__incorrect {
      background-color: var(--color-warn);
    }

    &__correct {
      background-color: var(--color-success);
    }

    &__missed {
      animation: infinite input-missed-anim var(--animation-duration-default)
        linear;

      @keyframes input-missed-anim {
        0% {
          background-color: var(--color-black);
        }

        50% {
          background-color: var(--color-white);
        }

        100% {
          background-color: var(--color-black);
        }
      }
    }
  }

  &__total {
    font-family: var(--font-family-bold);
    font-size: 40px;
    line-height: 150%;
    color: var(--color-black);
    position: absolute;
    right: 25%;
    bottom: -50px;
  }

  &__firstWord {
    margin-left: 20px;
  }

  &__sentenceTheme {
    font-family: var(--font-family-bold);
    font-size: 42px;
    line-height: 130%;
    letter-spacing: 0.01em;
    color: var(--color-black);

    @media (max-width: $laptop-mediaquery-width) {
      font-size: 25px;
    }
  }
}
