@use '@/app/styles/ScssVars' as *;

.Header {
  height: 30px;
  min-height: 30px;
  display: flex;
  width: 100vw;
  background-color: var(--color-black);

  &__item {
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: var(--color-white);
    background: var(--color-black);
    transition: var(--transition-duration-default) linear;
    transition-property: background-color, color;
    user-select: none;
    padding: 0 10px;
    text-transform: lowercase;

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 14px;
    }

    &:hover {
      color: var(--color-black);
      background: var(--color-white);
    }
  }

  &__submenu {
    position: absolute;
    opacity: 0;
    z-index: var(--z-index-one);
    transform: translateY(50px);
    top: 30px;
    left: 0;
    transition: var(--transition-duration-default) linear;
    transition-property: transform, opacity;
    background-color: var(--color-white);
    padding-top: 10px;

    &__active {
      transform: translateY(0);
      opacity: 1;
    }

    &__item {
      font-weight: 300;
      font-size: 16px;
      line-height: 100%;
      color: var(--color-gray);
      cursor: pointer;
      white-space: nowrap;
      text-transform: lowercase;
      transition: var(--transition-duration-default) linear color;

      &:hover {
        color: var(--color-black);
      }
    }
  }
}
