@use '@/app/styles/ScssVars' as *;

.Header {
  height: 90px;
  min-height: 90px;
  display: flex;
  width: 100%;
  justify-content: space-between;

  &__item {
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: var(--color-white);
    background: var(--color-black);
    transition: var(--transition-duration-default) linear;
    transition-property: background-color, color;
    user-select: none;

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 14px;
    }

    &__active {
      color: var(--color-black);
      background: var(--color-white);
    }
  }
}
