@use '@/app/styles/ScssVars' as *;

.StrictModeSwitcher {
  border: 3px solid var(--color-black);
  height: 45px;
  padding: 8px 10px;
  transition: var(--transition-duration-default) linear background-color;

  &__switcher {
    border: 3px solid var(--color-black);
    width: 29px;
    height: 29px;
    background: var(--color-white);
    transition: var(--transition-duration-default) linear border-width;
    cursor: pointer;

    &__checkmark {
      opacity: 0;
      transition: var(--transition-duration-default) linear opacity;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: var(--color-black);
    transition: var(--transition-duration-default) linear color;
    white-space: nowrap;
  }

  &__active {
    background-color: var(--color-black);

    .StrictModeSwitcher__switcher__checkmark {
      opacity: 1;
    }

    .StrictModeSwitcher__switcher {
      border-width: 0;
    }

    .StrictModeSwitcher__text {
      color: var(--color-white);
    }
  }

  &__wrapper {
    margin-top: 50px;
  }

  &__hint {
    min-width: 250px;
    text-align: right;
  }
}
