@use '@/app/styles/ScssVars' as *;

.TrainerWithMissedLettersWords {
  &__letter {
    font-weight: 500;
    font-size: 60px;

    @media (max-width: $laptop-mediaquery-width) {
      font-size: 40px;
    }
  }

  &__correctLetter {
    font-family: var(--font-family-bold);
  }
}
